
<div class="listOrders mb-3">
    {% if offers_in_cart|length > 0  %}
    {% comment %} <div class="orderEl mb-3">
        <div class="orderName">Код заказа</div>
        <div class="orderCount">
            <div class="">
                Кол/во
            </div>
        </div>
    </div> {% endcomment %}
    {% for offer in offers_in_cart %}
    <div class="orderEl mb-3">
        <div class="orderName">{{ offer.name }}</div>
        <div class="orderCount">
            <div class="">
                {{ offer.quantity }}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>





