<div class="modal-custom">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cartModalLabel">Ваш запрос</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="legal-tab" data-bs-toggle="tab" data-bs-target="#legal" type="button" role="tab" aria-controls="legal"aria-selected="true" >Юридическое лицо</button>
                </li>
      
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="physical-tab" data-bs-toggle="tab" data-bs-target="#physical" type="button" role="tab" aria-controls="physical" aria-selected="false">Физическое лицо</button>
            </li>
      
            
          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- Форма для юридического лица -->
            <div class="tab-pane fade show active" id="legal" role="tabpanel" aria-labelledby="legal-tab">
              <div class="physicalForm">
                <div class="formEl">
                  {% include 'nda_email/contactform.html' %}
                </div>
                  {% include 'cart/cart_popup.html' %}
              </div>
              {% comment %} <div class="mb-3">
                {{ contact_form.company_details }}
                {% if contact_form.company_details.errors %}
                  <span style="color: #FF4343">{{ contact_form.details.errors }}</span>
                {% endif %}
              </div> {% endcomment %}
            </div>
            <!-- Форма для физического лица -->
            <div class="tab-pane fade" id="physical" role="tabpanel" aria-labelledby="physical-tab">
              <div class="physicalForm">
                <div class="formEl">
                  {% include 'nda_email/PhysicalContactform.html' %}
                </div>
               
                  {% include 'cart/cart_popup.html' %}
                
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" form="cart_modal_form" class="btn btn-primary">Отправить запрос</button>
        </div>
      </div>
</div>

