{% load static %}
{% load infoblock_tag %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
   
    {% endblock%}
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}" type="image/x-icon">

    {% block metatag %}
    
    {% endblock %}
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://smartcaptcha.yandexcloud.net/captcha.js" async defer></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>

    {% block links %}
    
    {% endblock  %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/media.css'%}" type="text/css">
    {% block styles %}

    {% endblock %}
   
    
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content%}

    {% endblock %}  

    {% block script%}
    
    {% endblock%}

    {% include "core/components/footer.html" %}
    <script src="{% static 'scripts/indexCarouselInfo.js' %}"></script>
    <script src="{% static 'scripts/indexCarouselSubheader.js' %}"></script>
    <script src="{% static 'scripts/formController.js' %}"></script>
    <script src="{% static "scripts/buttonInFormController.js" %}"></script>
    <script src="{% static "scripts/tableScript.js" %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const forms = document.querySelectorAll('#mail_form, #call_form');
        
            forms.forEach(form => {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    submitForm(form);
                });
            });
        
            async function submitForm(form) {
                const formData = new FormData(form);
                const formError = form.querySelector('#form-error');
                const modalId = form.closest('.modal').id;
        
        
                try {
                    const response = await fetch(form.action, {
                        method: 'POST',
                        body: formData,
                    });
        
        
                     if (response.ok) {
                        if (response.status === 204) {
                            const modal = document.getElementById(modalId);
                            if (modal) {
                                const modalInstance = bootstrap.Modal.getInstance(modal);
                                modalInstance.hide();
                                formError.textContent = "";
                            }
                        } else {
                           const responseData = await response.text();
                            const modal = document.getElementById(modalId);
                             if(modal) {
                                    const parser = new DOMParser();
                                   const newDocument = parser.parseFromString(responseData, 'text/html');
                                    const formContainer = newDocument.querySelector(`#${modalId} #${form.id}_container`);
                                   const newFormError = newDocument.querySelector(`#${modalId} #form-error`);
                                 const currentFormContainer = form.querySelector(`#${form.id}_container`);
                                   const currentFormError = form.querySelector('#form-error');
                                  currentFormContainer.innerHTML = formContainer.innerHTML;
                                   if (newFormError) {
                                        currentFormError.textContent = newFormError.textContent;
                                     }
                            }
        
                        }
        
                    } else {
                         const responseData = await response.text();
                            const modal = document.getElementById(modalId);
                            if(modal) {
                                const parser = new DOMParser();
                                 const newDocument = parser.parseFromString(responseData, 'text/html');
                                  const formContainer = newDocument.querySelector(`#${modalId} #${form.id}_container`);
                                  const newFormError = newDocument.querySelector(`#${modalId} #form-error`);
                                   const currentFormContainer = form.querySelector(`#${form.id}_container`);
                                 const currentFormError = form.querySelector('#form-error');
                                  currentFormContainer.innerHTML = formContainer.innerHTML;
                                 if (newFormError) {
                                    currentFormError.textContent = newFormError.textContent;
                                     }
                            }
                    }
                } catch (error) {
                    console.error('Error during form submission:', error);
                     formError.textContent = "Произошла ошибка при отправке запроса";
                }
            }
        });
        
    </script>

 
    <script>
        $(document).ready(function() {
            // Функция для инициализации масок на всех полях с классом .phone-mask
            function initializePhoneMasks() {
                $('.phone-mask').each(function() {
                    var phoneInput = this;
    
                    if (!$(this).hasClass('initialized')) {
                        // Initialize intlTelInput
                        const iti = intlTelInput(phoneInput, {
                            separateDialCode: true,
                            initialCountry: "ru", // Russia by default
                            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.js", // Include utils.js for formatting and validation
                            autoPlaceholder: "aggressive", // Enable the autoPlaceholder option
                            nationalMode: true,      // Display only national numbers
                        });
    
                        // Function to update the phone number value (including the dial code)
                        function updatePhoneNumber() {
                            const fullNumber = iti.getNumber(); // Get the full number with dial code
                            phoneInput.value = fullNumber;       // Update the input field value
                        }
    
                        // Listen for changes to the number
                        phoneInput.addEventListener('countrychange', updatePhoneNumber); // Use "countrychange" event
                        phoneInput.addEventListener('keyup', updatePhoneNumber);
                        phoneInput.addEventListener('blur', updatePhoneNumber); // Update the phone number when input loses focus
    
                        // Store the initial number (if any)
                        updatePhoneNumber();
    
                        // Mark as initialized
                        $(this).addClass('initialized');
                    }
                });
            }
    
            // Инициализация масок при первой загрузке страницы
            initializePhoneMasks();
    
            // Обработчик для отслеживания появления новых полей с классом .phone-mask
            $(document).on('focus', '.phone-mask', function() {
                var phoneInput = this;
    
                if (!$(this).hasClass('initialized')) {
                    initializePhoneMasks();
                }
            });
    
            // Инициализация масок при открытии модального окна
            $('#modal').on('shown.bs.modal', function () {
                initializePhoneMasks();
            });
        });
    </script>
    <script>
        $('#modal').on('shown.bs.modal', function () {
            function handleFiles(inputId, containerClass) {
                var input = document.getElementById(inputId);
                var filenameContainer = document.querySelector(containerClass);
            
                input.addEventListener("change", function () {
                    var fileName = "";
                    if (this.files && this.files.length > 0) {
                        fileName = this.files[0].name;
                    }
                    filenameContainer.textContent = fileName || "Нет выбранного файла";
                });
            }


            function legalFunction() {
                handleFiles("contact_form_company_details_input", ".filename");
            }
            
            function physicalFunction() {
                handleFiles("p_contact_form_company_details_input", ".filename1");
            }


            const tabs = document.querySelectorAll('#myTab .nav-link');
            legalFunction()
            // Подписываемся на событие shown.bs.tab
            tabs.forEach(tab => {
                tab.addEventListener('shown.bs.tab', (e) => {
                    const targetTab = e.target.getAttribute('data-bs-target'); // Получаем цель текущей вкладки
                    
                    switch(targetTab) {
                        case '#legal':
                            legalFunction(); // Вызываем функцию для юридической вкладки
                            break;
                        case '#physical':
                            physicalFunction(); // Вызываем функцию для физической вкладки
                            break;
                        
                            
                    }
                });
            });
            
        
        });
     
        </script>

</body>