{% extends 'core/base1.html' %}
{% load static cache %}

{% block title %}
<title> Регистрационные удостоверения {{brand}}</title>
{% endblock %}

{% block metatag %}
  <meta name="keywords" content="РУ Минздрава">
  <meta property="og:url" content="https://nda.ru{{ request.path }}">
  {% comment %} <meta property="og:title" content="РУ и сертификаты"> {% endcomment %}
  <meta property="og:type" content="website">
  <meta property="og:description" content="Регистрационные удостоверения {{brand}}">
  <meta name="description" content="Регистрационные удостоверения продукции {{brand}}">
{% endblock %}




{% block content %}
  <header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}
    <!-- летающая шапка -->
  </header>
  <main class="main">
    <div class="container1">
    {% cache 86400 'brand_certificates_breadcrumbs' brand.slug %}
      <div class="breadCrumbs">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}" style="color: var(--color-theme-main)">ГЛАВНАЯ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'brands_with_certificates' %}" style="color: var(--color-theme-main)">СЕРТИФИКАТЫ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">{{ brand.name }}</li>
        </ol>
      </div>
      {% endcache %}
     {% cache 86400 'brand_certificates_banner' brand.slug %}
      {% include 'core/components/banner.html' %}
      {% endcache %}

      <div class="certificatesTable">
        {% cache 3600 'brand_certificate_table' brand.slug %}
        <table class="table table-responsive table-borderless">
          <thead>
            <tr class="table-header">
              <th>№</th>
              <th>Содержание документа</th>
              <th>Номер РУ</th>
              <th>РУ</th>
            </tr>
          </thead>
          <tbody>
            
                {% for certificate in certificates %}
                  <tr class="table-row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ certificate.get_filename }}</td>
                    <td>{{ certificate.get_filename|slice:"3:12" }}</td>
                    <td>
                      <a href="{{ certificate.file.url }}">Скачать</a>
                    </td>
                  </tr>
                {% endfor %}
                
              
          
          </tbody>
        </table>
        {% endcache %}
      </div>
      <!-- плавающий элемент с формами связи -->
      {% include 'core/components/formsContainer.html' %}
      <!-- плавающий элемент с формами связи -->
      <!-- формы на странице -->
    </div>
  </main>
{% endblock %}
