{% extends 'core/base1.html' %}
{% load static %}

{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Сертификаты для {{ brand.name }}</title>
  </head>
  <body>
    <h1>Сертификаты для {{ brand.name }}</h1>
    <ul>
      {% for certificate in certificates %}
        <li>
          <a href="{{ certificate.file.url }}">{{ certificate.file.name }}</a>
        </li>
      {% empty %}
        <p>Нет сертификатов для данного бренда.</p>
      {% endfor %}
    </ul>
  </body>
</html> {% endcomment %}

{% block content %}
  <header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}

    <!-- летающая шапка -->
  </header>
  <main class="main">
    <div class="container1">
      <div class="breadCrumbs">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}" style="color: var(--color-theme-main)">ГЛАВНАЯ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'brands_with_certificates' %}" style="color: var(--color-theme-main)">СЕРТИФИКАТЫ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">{{ brand.name }}</li>
        </ol>
      </div>

      {% include 'core/components/banner.html' %}

      <div class="certificatesTable">
        <table class="table table-responsive table-borderless">
          <thead>
            <tr class="table-header">
              <th>№</th>
              <th>Содержание документа</th>
              <th>Номер РУ</th>
              <th>РУ</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
                {% for certificate in certificates %}
                  {% if certificate.product == product and product.ru%}
                    <tr class="table-row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.ru}}</td>
                        <td>
                          <a href="{{ certificate.file.url }}">Скачать</a>
                        </td>
                    </tr>
                  {% endif %}
                {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- плавающий элемент с формами связи -->
      {% include 'core/components/formsContainer.html' %}

      <!-- плавающий элемент с формами связи -->
      <!-- формы на странице -->
    </div>
  </main>
{% endblock %}
