{% extends 'core/base1.html' %}
{% load static %}


{% block title %}
<title> РУ и сертификаты</title>
{% endblock %}



{% block content %}
  <header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}

    <!-- летающая шапка -->
  </header>
  <main class="main">
    <div class="container1">
      <div class="breadCrumbs">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}" style="color: var(--color-theme-main)">ГЛАВНАЯ</a>
          </li>
          <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">СЕРТИФИКАТЫ</li>
        </ol>
      </div>
      <div class="brandBanner">
        <div class="brandLogo">
          <img src="{% static 'images/certificates/certificates.svg' %}" alt="" />
        </div>
        <div class="brandInfo">
          <h1>ру и сертификаты</h1>
          <h2>РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ, ДЕКЛАРАЦИИ СООТВЕТСТВИЯ И ДРУГИЕ ДОКУМЕНТЫ</h2>
        </div>
      </div>
      <div class="catalogItems">
        {% for brand in brands %}
          <a href="{% url 'brand_certificates' brand.pk %}">
            <div class="catalogItem">
              <div class="catalogItemImg">
                {% if brand.logo %}  
                <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" />
                {% else %}
                    <img src="{% static 'images/noImage.jpg' %}" alt="Default logo" />  
                {% endif %}
              </div>
              <h3>{{ brand.name }}</h3>
            </div>
          </a>
        {% endfor %}

        <!-- 3 пустых дива - для ровной сетки flex -->
        <div class="emptyEl"></div>
        <div class="emptyEl"></div>
        <div class="emptyEl"></div>
        <!-- 3 пустых дива - для ровной сетки flex -->
      </div>
      <ul></ul>
      <!-- плавающий элемент с формами связи -->
      {% include 'core/components/formsContainer.html' %}

      <!-- плавающий элемент с формами связи -->
      <!-- формы на странице -->
    </div>
  </main>
{% endblock %}
