{% extends 'core/base1.html' %}
{% load cache %}
{% load infoblock_tag %}
{% load static %}

{% block content %}

    <header>
      {% include 'core/components/flyingHeader.html' %}

      {% include 'core/components/subheader.html' %}
    </header>

    <main>
      {% include 'core/components/catalog.html' %}
      <!-- формы на странице -->
  
      <!-- плавающий элемент с формами связи -->
      {% include 'core/components/formsContainer.html' %}
  
      <!-- плавающий элемент с формами связи -->
      <!-- формы на странице -->
    </main>

    {% cache 600 index_page %}
        
    {% endcache %}

{% endblock %}      