{% extends 'core/base1.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    <title>{{ category.name }}</title>
{% endblock %}

{% block metatag %}
<meta name="description"
        content='{{category.metadescription}}'>
{% endblock %}



{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/custom.css' %}" />
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'htmx/htmx.min.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styleOffer.css'%}" type="text/css">
{% endblock %}

{% block content %}
<header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}

    <!-- летающая шапка -->
</header>

<main class="main">
    <div class="container1">


        {% include 'core/components/breadcrumbs.html' %}
        {% include 'core/components/banner.html' %}


        <div class="product">
            <div class="productHead">
                <div class="productCarousel">


                    {% comment %} <div class="sliderContainer">
                        <div class="slider">
                            {% for image in images %}
                            {% thumbnail image.image '600x800' as im %}
                            <div><img class="sliderImg" src="{{im.url}}"></div>
                            {% endthumbnail %}
                            {% endfor %}
                        </div>
                        <div class="slider-arrows">
                            <div class="slick-prev1" style="background-image: url('{% static "images/offer/left.svg"%}')"></div>
                            <div class="slick-next1" style="background-image: url('{% static "images/offer/right.svg"%}')"></div>
                        </div>
                    </div>

                    <div class="slider-nav nav2">
                        {% for image in images %}
                        {% with forloop.counter0 as index %}
                        {% thumbnail image.image '450x450' as im %}
                        <div class="sliderNavEl stick-cloned">
                            <a data-slide-index="{{index}}">
                                <img src="{{im.url}}" style="width: 100%">
                            </a>
                        </div>
                        {% endthumbnail %}
                        {% endwith %}
                        {% endfor %}
                    </div> {% endcomment %}

                    <div class="sliderContainer">
                        <div class="glide" id="image-slider">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    {% for image in images %}
                                    {% thumbnail image.image '600x800' as im %}
                                    <li class="glide__slide">
                                        <img class="sliderImg" src="{{im.url}}">
                                    </li>
                                    {% endthumbnail %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="slider-arrows" data-glide-el="controls">
                                <button class="slick-prev1" data-glide-dir="<" style="background-image: url('{% static "images/offer/left.svg"%}')"></button>
                                <button class="slick-next1" data-glide-dir=">" style="background-image: url('{% static "images/offer/right.svg"%}')"></button>
                            </div>
                            <div class="glide__bullets" data-glide-el="controls[nav]"></div>
                        </div>
                    </div>
                    
                    <div class="slider-nav nav2" id="thumbnail-slider">
                        <div class="glide">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides">
                                    {% for image in images %}
                                    {% with forloop.counter0 as index %}
                                    {% thumbnail image.image '450x450' as im %}
                                    <li class="glide__slide sliderNavEl">
                                        <a href="#" data-slide-index="{{index}}" class="thumbnail-link">
                                            <img src="{{im.url}}" style="width: 100%">
                                        </a>
                                    </li>
                                    {% endthumbnail %}
                                    {% endwith %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>


                <div class="productTitle">
                    <div class="productTitleText">
                        <h3>({{brand}})</h3>
                        <h2>{{ category.name }}</h2>
                        {{ category.description|safe }}
                    
                    </div>
                    <div class="productTitleConnect">
                        <div class="linkText">
                            Связаться со специалистом по продукции {{brand}} {{specialist.name}}:
                        </div>
                        <div class="linkContacts">
                            <a href="tel:{{specialist.phone}}">
                                <div class="linkContactsEl">
                                    <img src="{% static "images/productCall.svg" %}" alt="">
                                    <div>{{specialist.phone}}</div>
                                </div>
                            </a>
                            <a href="mailto:221@nda.ru">
                                <div class="linkContactsEl">
                                    <img src="{% static "images/productMail.svg" %}" alt="">
                                    <div>{{specialist.email}}</div>
                                </div>
                            </a>
                        </div>
                        {{vk_link}}
                    </div>
                </div>
            </div>
            <div class="productInfo">
                <div class="productInfoChoice">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">

                        <li {% if not video_file and not youtube_link and not rt_link %} style="width: 25%;"{% endif %} class="nav-item" role="presentation">
                            <button class="nav-link first active" id="pills-description-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-description" type="button" role="tab"
                                aria-controls="pills-description" aria-selected="true">Описание</button>
                        </li>
                        <li {% if not video_file and not youtube_link and not rt_link %} style="width: 25%;"{% endif %} class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-characteristics-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-characteristics" type="button" role="tab"
                                aria-controls="pills-characteristics" aria-selected="false">Характеристики</button>
                        </li>
                        <li {% if not video_file and not youtube_link and not rt_link %} style="width: 25%;"{% endif %} class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order"
                                aria-selected="false">Оформить заказ</button>
                        </li>
                        <li {% if not video_file and not youtube_link and not rt_link %} style="width: 25%;"{% endif %} class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-catalogs-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-catalogs" type="button" role="tab" aria-controls="pills-catalogs"
                                aria-selected="false">Каталоги и РУ</button>
                        </li>
                        {% if video_file or youtube_link or rt_link %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link last" id="pills-video-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-video" type="button" role="tab" aria-controls="pills-video"
                                aria-selected="false">Видео</button>
                        </li>
                        {% endif%}
                    </ul>
                </div>
                <div class="tab-content productTabContent" id="pills-tabContent">
                    <!-- Описание товара/услуги -->
                    <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                        aria-labelledby="pills-description-tab">
                        <div class="productDescription">
                            {{ category.full_description|safe }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-characteristics" role="tabpanel"
                        aria-labelledby="pills-characteristics-tab">
                        <div class="productSpecifications">
                            <div class="container1 mt-5">
                                <table class="table table-responsive table-borderless">
                                    <thead>
                                        <tr class="table-header">
                                            <th class="col-2 text-center">
                                                Код
                                            </th>
                                            <th class="col-8 text-start">
                                                Описание
                                            </th>
                                            <th class="col-2 text-start">
                                                Уп/шт.
                                            </th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        {% for offer in offers %}
                                        <tr class="table-row">
                                            <td class="text-center align-middle">{{ offer.name }}</td>
                                            <td class="text-start align-middle">{{ offer.characteristics }}</td>
                                            <td class="text-start align-middle">{{ offer.shipping_pack }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">

                        <div class="placeOrder">
                            <form action=""></form>
                            <div class="container1 mt-5">
                                <table class="table table-responsive table-borderless">
                                    <thead>
                                        <tr class="table-header">
                                            <th class="col-2 text-center">
                                                Код
                                            </th>
                                            <th class="col-8 text-start">
                                                Описание
                                            </th>
                                            <th class="col-2 text-start">
                                                Уп/шт.
                                            </th>
                                            <th class="col-4">
                                                Количество
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        {% for offer in offers %}
                                        <tr class="table-row">
                                            <td class="text-center align-middle">{{ offer.name }}</td>
                                            <td class="text-start align-middle">{{ offer.description }}</td>
                                            <td class="text-start align-middle">{{ offer.shipping_pack }}</td>
                                            <td class="text-start">

                                                <div class="tableCountAdd"
                                                    onclick="toggleInput(this)">Добавить
                                                </div>

                                                <div class="quantity-input" style="display:none;">
                                                    <form hx-post="{% url 'cart_add' offer_id=offer.pk %}"
                                                        hx-target="#cart" hx-swap="outerHTML" style="width: 100%;">
                                                        <div class="offerCount">
                                                            <div class="inputCount">
                                                                <div class="inputCountBtn1"
                                                                    onclick="changeQuantity(event, this, -1)">-</div>

                                                                <input class="form-control" type="number"
                                                                    name="quantity" value="0" required=""
                                                                    id="id_quantity" min="1"/>

                                                                <div class="inputCountBtn2"
                                                                    onclick="changeQuantity(event, this, 1)">+</div>

                                                            </div>

                                                                <button class="btn btn-primary quantityFormBtn" id="addButton"type="submit"
                                                                value="">Добавить</button>
                                                           
                                                        </div>
                                                    </form>

                                                </div>


                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-catalogs" role="tabpanel" aria-labelledby="pills-catalogs-tab">
                        <div class="catalogTutorial">
                            {% if instructions %}
                                {% for instruction in instructions %}
                                    <div class="catalogTutorialLink">
                                        <a href="{{ instruction.file.url }}">
                                            <div class="catalogTutorialEl">
                                                <div class="catalogTutorialElText">Скачать инструкцию</div>
                                                <div class="catalogTutorialElImg"></div>
                                            </div>
                                        </a>
                                    </div>
                                    
                                {% endfor %}
                            {% endif %}

                            {% if certificates %}
                                {% for certificate in certificates %}
                                <div class="catalogTutorialLink">
                                    <a href="{{ certificate.flie.url }}">
                                        <div class="catalogTutorialEl">
                                            <div class="catalogTutorialElText">Скачать сертификат</div>
                                            <div class="catalogTutorialElImg"></div>
                                        </div>
                                        
                                    </a>
                                </div>
                                {% endfor %}
                            {% endif %}

                            {% if catalogs %}
                                {% for catalog in catalogs %}
                                <div class="catalogTutorialLink">
                                    <a href="{{ catalog.file.url }}">
                                        <div class="catalogTutorialEl">
                                            <div class="catalogTutorialElText">Скачать Каталог</div>
                                            <div class="catalogTutorialElImg"></div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    {% if video_file or youtube_link or rt_link %}
                    <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                        <div class="productVideo">

                            <div class="productVideoContainer">
                                    {% if  video_file %}
                                        <!-- Локальное видео -->
                                        <video controls style="width:100%; height:auto">
                                            <source src="{{ video_file.url }}" type="video/mp4">
                                        </video>
                                    {% elif rt_link %}
                                        <!-- Видео с RuTube -->
                                        <iframe width="100%" height="100%" src="{{rt_link}}" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    {% elif youtube_link %}
                                        <!-- Видео с Ютуб -->
                                        <iframe width="100%" height="100%" src="https://rutube.ru/play/embed/405026faf0d5c5600a18d53a9dc84cf2/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    {% endif %}
                                
                            </div>

                        </div>
                    </div>
                    {% endif %}
                </div>
                
           
                 <div class="dropDown">
                    <details>
                        <summary>Описание</summary>
                        <div class="dropDownEl">
                            <div class="productDescription">
                                {{ category.full_description|safe }}
                            </div>
                        </div>
                    </details>
                    <details>
                        <summary>Характеристики</summary>
                        <div class="dropDownEl">
                            <div class="productSpecifications">
                                <div class="container1 mt-5">
                                    <table class="table table-responsive table-borderless">
                                        <thead>
                                            <tr class="table-header">
                                                <th class="col-2 text-center">
                                                    Код
                                                </th>
                                                <th class="col-8 text-start">
                                                    Описание
                                                </th>
                                                <th class="col-2 text-start">
                                                    Уп/шт.
                                                </th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            {% for offer in offers %}
                                            <tr class="table-row">
                                                <td class="text-center align-middle">{{ offer.name }}</td>
                                                <td class="text-start align-middle">{{ offer.characteristics }}</td>
                                                <td class="text-start align-middle">{{ offer.shipping_pack }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
    
                            </div>
                        </div>
                    </details>
                    <details>
                        <summary>Оформить заказ</summary>
                        <div class="dropDownEl">
                            <div class="placeOrder">
                                <form action=""></form>
                                <div class="container1 mt-5">
                                    <table class="table table-responsive table-borderless">
                                        <thead>
                                            <tr class="table-header">
                                                <th class="col-2 text-center">
                                                    Код
                                                </th>
                                                <th class="col-8 text-start">
                                                    Описание
                                                </th>
                                                <th class="col-2 text-start">
                                                    Уп/шт.
                                                </th>
                                                <th class="col-4">
                                                    Количество
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            {% for offer in offers %}
                                            <tr class="table-row">
                                                <td class="text-center align-middle">{{ offer.name }}</td>
                                                <td class="text-start align-middle">{{ offer.description }}</td>
                                                <td class="text-start align-middle">{{ offer.shipping_pack }}</td>
                                                <td class="text-start">
    
                                                    <div class="tableCountAdd"
                                                        onclick="toggleInput(this)">Добавить
                                                    </div>
    
                                                    <div class="quantity-input" style="display:none;">
                                                        <form hx-post="{% url 'cart_add' offer_id=offer.pk %}"
                                                            hx-target="#cart" hx-swap="outerHTML" style="width: 100%;">
                                                            <div class="offerCount">
                                                                <div class="inputCount">
                                                                    <div class="inputCountBtn1"
                                                                        onclick="changeQuantity(event, this, -1)">-</div>
    
                                                                    <input class="form-control" type="number"
                                                                        name="quantity" value="0" required=""
                                                                        id="id_quantity" min="1"/>
    
                                                                    <div class="inputCountBtn2"
                                                                        onclick="changeQuantity(event, this, 1)">+</div>
    
                                                                </div>
    
                                                                    <button class="btn btn-primary quantityFormBtn" id="addButton"type="submit"
                                                                    value="">Добавить</button>
                                                               
                                                            </div>
                                                        </form>
    
                                                    </div>
    
    
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                </form>
                            </div>
                        </div>
                    </details>
                    <details>
                        <summary>Каталоги и РУ</summary>
                        <div class="dropDownEl">
                            <div class="catalogTutorial">
                                {% if instructions %}
                                    {% for instruction in instructions %}
                                        <div class="catalogTutorialLink">
                                            <a href="{{ instruction.file.url }}">
                                                <div class="catalogTutorialEl">
                                                    <div class="catalogTutorialElText">Скачать инструкцию</div>
                                                    <div class="catalogTutorialElImg"></div>
                                                </div>
                                            </a>
                                        </div>
                                        
                                    {% endfor %}
                                {% endif %}
    
                                {% if certificates %}
                                    {% for certificate in certificates %}
                                    <div class="catalogTutorialLink">
                                        <a href="{{ certificate.flie.url }}">
                                            <div class="catalogTutorialEl">
                                                <div class="catalogTutorialElText">Скачать сертификат</div>
                                                <div class="catalogTutorialElImg"></div>
                                            </div>
                                            
                                        </a>
                                    </div>
                                    {% endfor %}
                                {% endif %}
    
                                {% if catalogs %}
                                    {% for catalog in catalogs %}
                                    <div class="catalogTutorialLink">
                                        <a href="{{ catalog.file.url }}">
                                            <div class="catalogTutorialEl">
                                                <div class="catalogTutorialElText">Скачать Каталог</div>
                                                <div class="catalogTutorialElImg"></div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                {% endif %}
    
                            </div>
                        </div>
                    </details>
                    {% if video_file or youtube_link or rt_link %}
                    <details>
                        <summary>Видео</summary>
                        <div class="dropDownEl">
                            <div class="productVideo">

                                <div class="productVideoContainer">
                                        {% if  video_file %}
                                            <!-- Локальное видео -->
                                            <video controls style="width:100%; height:auto">
                                                <source src="{{ video_file.url }}" type="video/mp4">
                                            </video>
                                        {% elif rt_link %}
                                            <!-- Видео с RuTube -->
                                            <iframe width="100%" height="100%" src="{{rt_link}}" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                        {% elif youtube_link %}
                                            <!-- Видео с Ютуб -->
                                            <iframe width="100%" height="100%" src="https://rutube.ru/play/embed/405026faf0d5c5600a18d53a9dc84cf2/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                        {% endif %}
                                    
                                </div>
    
                            </div>
                        </div>
                    </details>
                    {% endif %}
                 </div>   
                  
                  
                <div id="cart">
                    {% if offers_in_cart|length > 0 %}
                    <div class="placeResult">
                        <button type="button" class="orderButton" hx-get="{% url 'cart_modal' %}"
                            hx-target="#dialog" id="orderButton">Оформить заказ</button>
                        <div class="countItems">
                            <div class="countText">Всего изделий в заказе:</div>
                            <div class="count">{{ offers_in_cart|length }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>




        <!-- Placeholder for the modal -->
        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog modal-xl" hx-target="this"></div>
        </div>

        <!-- Empty toast to show the message -->

        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 2000;">
            <div id="toast" class="toast align-items-center text-white border-0 bg-success" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="toast-body" class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
            <div id="toast-warning" class="toast align-items-center text-white border-0 bg-warning" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="toast-warning-body" class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

    </div>
    <!-- плавающий элемент с формами связи -->
    {% include 'core/components/formsContainer.html' %}

    <!-- плавающий элемент с формами связи -->
</main>
{% endblock %}

{% block script %}

<script src="{% static 'scripts/offers-htmx-handlers.js' %}"></script>
{% comment %} <script src="{% static "scripts/productSlider.js" %}"></script> {% endcomment %}
<script>
    $(document).ready(function () {
        $('.modal').on('shown.bs.modal', function () {
            // Находим и скрываем блок с классом placeResult
            $('.placeResult').css('display', 'none');
        }).on('hidden.bs.modal', function () {
            // Показываем блок с классом placeResult
            $('.placeResult').css('display', 'flex');
        });
    });
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>


    <script>
    document.addEventListener('DOMContentLoaded', function() {
         // Get all thumbnail elements
        const thumbnailSlides = document.querySelectorAll('.sliderNavEl');
        const totalThumbnails = thumbnailSlides.length;
        let perViewCount = 4; // Default perView for <= 4 items

        if (totalThumbnails > 4) {
            perViewCount = 4; // Use 4 for wrapping
          }

        // Initialize main slider (one time)
        const imageSlider = new Glide('#image-slider', {
            type: 'carousel',
            perView: 1,
            animationDuration: 700,
        }).mount();


         // Initialize thumbnail slider (one time)
        const thumbnailSlider = new Glide('#thumbnail-slider', {
            type: 'carousel',
            perView: perViewCount,
            focusAt: 'center',
            animationDuration: 700,
             rewind: false,
            breakpoints: {
                 600: {
                    perView: 2
                }
            }
        }).mount();

        const thumbnailLinks = document.querySelectorAll('.thumbnail-link');
        const thumbnailPerView = thumbnailSlider.settings.perView;


        // Function to highlight the active thumbnail and move thumbnail slider if needed
       function updateActiveThumbnail(index) {
            thumbnailSlides.forEach(slide => slide.classList.remove('active'));
           thumbnailSlides[index].classList.add('active');

           if (index >= thumbnailSlider.index + 4 || index < thumbnailSlider.index) {
              thumbnailSlider.go(`=${index}`);
            }
        }


        // Handle thumbnail click
        thumbnailLinks.forEach((link, index) => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                imageSlider.go(`=${index}`);
                updateActiveThumbnail(index);
            });
        });

        // Event on main slider move to sync active thumbnail highlight
         imageSlider.on('move.after', () => {
             updateActiveThumbnail(imageSlider.index);
        });


        // Handle rewind for thumbnail slider only when needed
          if(totalThumbnails > 4){
            thumbnailSlider.update({rewind: true})
            }
    });
    </script>
  




    
    
    



{% endblock %}