{% extends 'core/base1.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
<title>{{ category.name }}</title>
{% endblock %}
{% block header %}

{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/custom.css' %}" />
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'htmx/htmx.min.js' %}"></script>
<script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script>
{% endblock %}

{% block content %}
<header style="height: 0px;">
    <!-- летающая шапка -->
    {% include 'core/components/flyingHeader.html' %}

    <!-- летающая шапка -->
</header>

<main class="main">
    <div class="container1">


        {% include 'core/components/breadcrumbs.html' %}
        {% include 'core/components/banner.html' %}


        <div class="product">
            <div class="productHead">
                <div class="productCarousel">
                    <div class="sliderContainer">
                        <div class="slider">
                            {% for image in images %}
                            {% thumbnail image.image '600x800' as im %}
                            <div><img class="sliderImg" src="{{im.url}}"></div>
                            {% endthumbnail %}
                            {% endfor %}
                        </div>
                        <div class="slider-arrows">
                            <div class="slick-prev1" style="background-image: url('{% static "images/offer/left.svg"%}')"></div>
                            <div class="slick-next1" style="background-image: url('{% static "images/offer/right.svg"%}')"></div>
                        </div>
                    </div>
                    <div class="slider-nav nav2">


                        {% for image in images %}
                        {% with forloop.counter0 as index %}
                        {% thumbnail image.image '450x450' as im %}
                        <div class="sliderNavEl stick-cloned">
                            <a data-slide-index="{{index}}">
                                <img src="{{im.url}}" style="width: 100%">
                            </a>
                        </div>
                        {% endthumbnail %}
                        {% endwith %}
                        {% endfor %}
                        {% comment %} {% for image in images %}
                        {% with forloop.counter0 as index %}
                        {% thumbnail image.image '450x450' as im %}
                        <div class="sliderNavEl stick-cloned">
                            <a data-slide-index="-{{index}}">
                                <img src="{{im.url}}" style="width: 100%">
                            </a>
                        </div>
                        {% endthumbnail %}
                        {% thumbnail image.image '450x450' as im %}
                        <div class="sliderNavEl">
                            <a class="{% if index == 0 %}active{% endif %}" data-slide-index="{{index}}">
                                <img src="{{im.url}}" style="width: 100%">
                            </a>
                        </div>
                        {% endthumbnail %}
                        {% thumbnail image.image '450x450' as im %}
                        <div class="sliderNavEl stick-cloned">
                            <a data-slide-index="{{index}} + images.length + 2 ">
                                <img src="{{im.url}}" style="width: 100%">
                            </a>
                        </div>
                        {% endthumbnail %}
                        {% endwith %}
                        {% endfor %} {% endcomment %}
                    </div>

                </div>


                <div class="productTitle">
                    <div class="productTitleText">
                        <h3>({{brand}})</h3>
                        <h2>{{ category.name }}</h2>
                        {{ category.description|safe }}

                    </div>
                    <div class="productTitleConnect">
                        <div class="linkText">
                            Связаться со специалистом по продукции {{brand}} {{specialist.name}}:
                        </div>
                        <div class="linkContacts">
                            <a href="tel:{{specialist.phone}}">
                                <div class="linkContactsEl">
                                    <img src="{% static "images/productCall.svg" %}" alt="">
                                    <div>{{specialist.phone}}</div>
                                </div>
                            </a>
                            <a href="mailto:221@nda.ru">
                                <div class="linkContactsEl">
                                    <img src="{% static "images/productMail.svg" %}" alt="">
                                    <div>{{specialist.email}}</div>
                                </div>
                            </a>
                        </div>
                        {{vk_link}}
                    </div>
                </div>
            </div>
            <div class="productInfo">
                <div class="productInfoChoice">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link first active" id="pills-description-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-description" type="button" role="tab"
                                aria-controls="pills-description" aria-selected="true">Описание</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-characteristics-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-characteristics" type="button" role="tab"
                                aria-controls="pills-characteristics" aria-selected="false">Характеристики</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-order-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-order" type="button" role="tab" aria-controls="pills-order"
                                aria-selected="false">Оформить заказ</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-catalogs-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-catalogs" type="button" role="tab" aria-controls="pills-catalogs"
                                aria-selected="false">Каталоги и РУ</button>
                        </li>
                        {% if video_file or youtube_link or rt_link %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link last" id="pills-video-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-video" type="button" role="tab" aria-controls="pills-video"
                                aria-selected="false">Видео</button>
                        </li>
                        {% endif%}
                    </ul>
                </div>
                <div class="tab-content productTabContent" id="pills-tabContent">
                    <!-- Описание товара/услуги -->
                    <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                        aria-labelledby="pills-description-tab">
                        <div class="productDescription">
                            {{ category.description|safe }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-characteristics" role="tabpanel"
                        aria-labelledby="pills-characteristics-tab">
                        <div class="productSpecifications">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">

                        <div class="placeOrder">
                            <form action=""></form>
                            <div class="container1 mt-5">
                                <table class="table table-responsive table-borderless">
                                    <thead>
                                        <tr class="table-header">
                                            <th class="col-sm-1 text-center">
                                                Код
                                            </th>
                                            <th class="col-sm-10 text-start">
                                                Описание
                                            </th>
                                            <th class="col-sm-1 text-start">
                                                Уп/шт.
                                            </th>
                                            <th class="col-sm-2">
                                                Количество
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        {% for offer in offers %}
                                        <tr class="table-row">
                                            <td class="text-center align-middle">{{ offer.name }}</td>
                                            <td class="text-start align-middle">{{ offer.description }}</td>
                                            <td class="text-start align-middle">{{ offer.shipping_pack }}</td>
                                            <td class="text-start">

                                                <div class="tableCountAdd"
                                                    onclick="toggleInput(this)">Добавить
                                                </div>

                                                <div class="quantity-input" style="display:none;">
                                                    <form hx-post="{% url 'cart_add' offer_id=offer.pk %}"
                                                        hx-target="#cart" hx-swap="outerHTML" style="width: 100%;">
                                                        <div class="offerCount">
                                                            <div class="inputCount">
                                                                <div class="inputCountBtn1"
                                                                    onclick="changeQuantity(event, this, -1)">-</div>

                                                                <input class="form-control" type="number"
                                                                    name="quantity" value="0" required=""
                                                                    id="id_quantity" min="1"/>

                                                                <div class="inputCountBtn2"
                                                                    onclick="changeQuantity(event, this, 1)">+</div>

                                                            </div>

                                                                <button class="btn btn-primary quantityFormBtn" type="submit"
                                                                value="">Добавить</button>
                                                           
                                                        </div>
                                                    </form>

                                                </div>


                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-catalogs" role="tabpanel" aria-labelledby="pills-catalogs-tab">
                        <div class="catalogTutorial">
                            {% for offer in offers %}
                            <a href="{{ offer.tech_info }} ">Скачать Инструкцию</a>
                            <a href="{{ offer.tech_info }} ">Скачать Инструкцию</a>
                           {% endfor %}

                        </div>
                    </div>
                    {% if video_file or youtube_link or rt_link %}
                    <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                        <div class="productVideo">

                            <div class="productVideoContainer">
                                
                                    {% if  video_file %}
                                        <!-- Локальное видео -->
                                        <video controls>
                                            <source src="{{ video_file }}" type="video/mp4">
                                            
                                        </video>
                                    {% elif rt_link %}
                                        <!-- Видео с RuTube -->
                                        <iframe width="100%" height="100%" src="{{rt_link}}" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    {% elif youtube_link %}
                                        <!-- Видео с Ютуб -->
                                        <iframe width="100%" height="100%" src="https://rutube.ru/play/embed/405026faf0d5c5600a18d53a9dc84cf2/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    {% endif %}
                                
                            </div>

                        </div>
                    </div>
                    {% endif %}
                </div>

                <div id="cart">
                    {% if offers_in_cart|length > 0 %}
                    <div class="placeResult">
                        <button type="button" class="orderButton" hx-get="{% url 'cart_modal' %}"
                            hx-target="#dialog" id="orderButton">Оформить заказ</button>
                        <div class="countItems">
                            <div class="countText">Всего изделий в заказе:</div>
                            <div class="count">{{ offers_in_cart|length }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>




        <!-- Placeholder for the modal -->
        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog modal-xl" hx-target="this"></div>
        </div>

        <!-- Empty toast to show the message -->

        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 2000;">
            <div id="toast" class="toast align-items-center text-white border-0 bg-success" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="toast-body" class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
            <div id="toast-warning" class="toast align-items-center text-white border-0 bg-warning" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div id="toast-warning-body" class="toast-body"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

    </div>
    <!-- плавающий элемент с формами связи -->
    {% include 'core/components/formsContainer.html' %}

    <!-- плавающий элемент с формами связи -->
</main>
{% endblock %}

{% block script %}

<script src="{% static 'scripts/offers-htmx-handlers.js' %}"></script>
<script src="{% static "scripts/productSlider.js" %}"></script>
<script>
    $(document).ready(function () {
        $('.modal').on('shown.bs.modal', function () {
            // Находим и скрываем блок с классом placeResult
            $('.placeResult').css('display', 'none');
        }).on('hidden.bs.modal', function () {
            // Показываем блок с классом placeResult
            $('.placeResult').css('display', 'flex');
        });
    });
</script>

{% endblock %}