{% load static %}

<div class="brandBanner"
  style="background: linear-gradient(135deg, 
  {% if category %}
    {{ category.banner_color }}
  {% elif brand %}
    {{ brand.banner_color }}
  {% endif %}, white); ">
  <div class="brandLogo">
    {% if brand.logo %}
      <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" />
    {% elif category.logo %}
      <img src="{{ category.logo.url }}" alt="{{ category.name }}" />
    {% else %}
      <img src="{% static 'images/noImage.jpg' %}" alt="Default logo" />
    {% endif %}
  </div>

  <div class="brandInfo">
    {% if brand %}
      <h1>{{ brand.name.upper|safe|striptags }}</h1>
      {% if category %}
        <h2>{{ category.name.upper|safe|striptags }}</h2>
      {% elif brand %}
        <h2>{{ brand.description.upper|safe|striptags }}</h2>
      {% endif %}
    {% elif category and not category.brand %}
      <h1>{{ category.name.upper|safe|striptags }}</h1>
      <!-- <h2>{{ category.description.upper|safe|striptags }}</h2> -->
    {% endif %}
  </div>
  {% if category.banner or brand.banner %}
  <div class="brandBannerBg">
    <div class="brandBannerBgImg">
      <img src="{% if category and category.banner %}
                    {{ category.banner.url }}
                  {% elif brand and brand.banner %}
                    {{ brand.banner.url }}
                  {% endif %}"
           alt="Banner" /> 
    </div>
  </div>
  {% endif %}
</div>
