{% load static %}

<div class="brandBanner" style="background: linear-gradient(135deg, {{ brand.banner_color }}, white);">
  <div class="brandLogo">
    {% if brand.logo %}  
                <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" />
                {% else %}
                    <img src="{% static 'images/noImage.jpg' %}" alt="Default logo" />  
                {% endif %}
  </div>
  <div class="brandInfo">
    {% if brand %}
      <h1>{{ brand.name }}</h1>
      <h2>{{ brand.description }}</h2>
    {% else %}
      <h1>{{ category.name }}</h1>
    {% endif %}
  </div>
</div>
