{% load static cache %}

{% cache 600 brand_banner brand.id brand.logo.url brand.name brand.description category.name %}
<div class="brandBanner" style="background: linear-gradient(135deg, {{ brand.banner_color }}, white);">
  <div class="brandLogo">
    {% if brand.logo %}  
                <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" />
                {% else %}
                    <img src="{% static 'images/noImage.jpg' %}" alt="Default logo" />  
                {% endif %}
  </div>
  <div class="brandInfo">
    {% if brand %}
      <h1>{{ brand.name | safe}}</h1>
      <h2>{{ brand.description | safe}}</h2>
    {% else %}
      <h1>{{ category.name | safe}}</h1>
    {% endif %}
  </div>
</div>
{% endcache %}