{% load static %}

<footer>
    <div class="container1">
        <div class="footerInner" style=" background-image: url('{% static "images/footerBg.png" %}');">
            <div class="footerInfo">
                <div class="footerLogo">
                    <img src="{% static 'images/FulllogoFooter.svg' %}" alt="">
                    <div class="footerLogoText">
                        ООО "НДА Деловая медицинская компания".
                        Все права защищены © 2024 год. Использование любых материалов возможно только с письменного
                        разрешения
                    </div>
                </div>
                <div class="footerData">
                    <div class="footerDataEls">
                        <h4>Ссылки</h4>
                        <ul>
                            <a href="#">
                                <span>
                                    <li><span>Главная</span></li>
                                </span>
                            </a>
                            <a href="#">
                                <li><span>О компании</span></li>
                            </a>
                            <a href="#">
                                <li><span>Кредо</span></li>
                            </a>
                        </ul>
                    </div>
                    <div class="footerDataEls contacts">
                        <ul>
                            <h4>График работы:</h4>
                            <li>Пн-Пт:10:00 - 18:00</li>
                        </ul>
                    </div>
                    <div class="footerDataEls address">
                        <h4>Адрес офиса:</h4>
                        <ul>
                            <li>г. Санкт-Петербург, ул.Перевозная, 6</li>
                        </ul>
                        <h4>Адрес склада:</h4>
                        <ul>
                            <li>198095, г. Санкт-Петербург, Михайловский <br> пер., д.4 Лит. АН</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerBottom">
                <div class="policy">
                    <a href="#">
                        Политика конфиденциальности
                    </a>

                </div>
                <a href="#top">
                    <div class="toTop">

                        <div class="toTopText">Наверх</div>
                        <div class="toTopIcon button">
                            <img src="{% static 'images/ToTopArrow.svg' %}" alt="">
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>