{% load static cache %}

<footer>
    <div class="container1">
        <div class="footerInner" style=" background-image: url('{% static "images/footerBg.png" %}');">
            {% cache 86400 'footer_content' %}
            <div class="footerInfo">
                <div class="footerLogo">
                    <img src="{% static 'images/FulllogoFooter.svg' %}" alt="">
                    <div class="footerLogoText">
                        ООО "НДА Деловая медицинская компания".
                        Все права защищены © 2024 год. Использование любых материалов возможно только с письменного
                        разрешения
                    </div>
                </div>
                <div class="footerData">
                    <div class="footerDataEls">
                        <h4>Ссылки</h4>
                        <ul>
                            <a href={% url "home" %}>
                                {% if current_url_name == 'home' %}
                                    <span>
                                        <li><span style="color:#3494c8">Главная</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>Главная</span></li>
                                    </span>
                                {% endif %}
                            </a>
                            
                            <a href={% url "work" %}>
                                {% if current_url_name == 'work' %}
                                    <span>
                                        <li><span style="color:#3494c8">Условия работы</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>Условия работы</span></li>
                                    </span>
                                {% endif %}
                            </a>
                           
                            <a href={% url "brands_with_certificates" %}>
                                {% if current_url_name == 'brands_with_certificates' %}
                                    <span>
                                        <li><span style="color:#3494c8">РУ и сертификаты</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>РУ и сертификаты</span></li>
                                    </span>
                                {% endif %}
                            </a>

                            <a href={% url "contacts" %}>
                                {% if current_url_name == 'contacts' %}
                                    <span>
                                        <li><span style="color:#3494c8">Контакты</span></li>
                                    </span>
                                {% else %}
                                    <span>
                                        <li style="color:#bebebe"><span>Контакты</span></li>
                                    </span>
                                {% endif %}
                            </a>
                        </ul>
                    </div>
                    <div class="footerDataEls contacts">
                        <ul>
                            <h4>График работы:</h4>
                            <li>Пн-Пт:10:00 - 18:00</li>
                        </ul>
                    </div>
                    <div class="footerDataEls address">
                        <h4>Адрес офиса:</h4>
                        <ul>
                            <li>г. Санкт-Петербург, ул.Перевозная, 6</li>
                        </ul>
                        <h4>Адрес склада:</h4>
                        <ul>
                            <li>198095, г. Санкт-Петербург, Михайловский <br> пер., д.4 Лит. АН</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerBottom">
                <div class="policy">
                    <a href="{% url "privacy" %}">
                        Политика конфиденциальности
                    </a>

                </div>
                <a href="#top">
                    <div class="toTop">

                        <div class="toTopText">Наверх</div>
                        <div class="toTopIcon button">
                            <img src="{% static 'images/ToTopArrow.svg' %}" alt="">
                        </div>

                    </div>
                </a>
            </div>
            {% endcache %}
        </div>
    </div>
</footer>