{% load static cache %}

<div class="container1">
    <div class="product_bg" style="background-image: url('{% static "images/header_bg.svg" %}')"></div>
    <div class="slider subheaderSlider">
        {% cache 3600 'subheader_slider' %}
        {% for ad in ads %}
        {% if ad.status == 'PUBLISHED' %}
        <div class="subheader" id="top" style="width: 100%!important;">
            
                <div class="subheaderInfo">
                    <div class="subheaderTitle">
                        <h3>{{ad.block_header}}</h3>
                        <h1>{{ad.block_name}}</h1>
                    </div>
                    {{ad.block_text|safe}}
                    <a href="{% url 'offer' brand_slug=ad.block_category.brand.slug category_slug=ad.block_category.slug %}">
                        <div class="buttonInfo button">
                                <div class="subheaderProductText">Подробнее</div>
                        </div>
                    </a>

                </div>
                <div class="subheaderImage">
                    <img src="{{ad.block_image.url}}" alt="">
                </div>
            
            <!-- фон для товара -->
            
            <!-- фон для товара -->

            <!-- subheader1 -->
            
        </div>
        {% endif %}
        {% endfor %}
        {% endcache %}
    </div>

</div>
<div id="catalog"></div>