{% load static %}

<div class="container1">
    <div class="product_bg" style="background-image: url('{% static "images/header_bg.svg" %}')"></div>
    <div class="slider subheaderSlider">
        <div class="subheader" id="top">
            <!-- фон для товара -->
            
            <!-- фон для товара -->

            <!-- subheader1 -->
            <div class="subheaderInfo">
                <div class="subheaderTitle">
                    <h3>(STERRAD NX) ALL CLEAR</h3>
                    <h1>ПЛАЗМЕННЫЙ СТЕРИЛИЗАТОР</h1>
                </div>

                <ul>
                    <li><span>Для стерилизации одноканальных жестких эндоскопов</span> </li>
                    <li><span>Для стерилизации широкого спектра изделий</span></li>
                </ul>
                <a href="#">
                    <div class="buttonInfo button">
                        <div class="subheaderProductText ">Подробнее</div>
                        <img src="{% static 'images/SubheaderProductArrow.svg' %}" alt="">
                    </div>
                </a>

            </div>
            <div class="subheaderImage">
                <img src="{% static 'images/sterilizator_asp_sterrad_nx_s_tel 1.png' %}" alt="">
            </div>

        </div>

        <!-- subheader2 -->
        <div class="subheader" id="top">
            <!-- фон для товара -->
            <!-- <div class="product_bg"></div> -->
            <!-- фон для товара -->
            <div class="subheaderInfo">
                <div class="subheaderTitle">
                    <h3>HEARTSINE SAMARITAN PAD 360P</h3>
                    <h1>ДЕФИБРИЛЛЯТОРЫ STRYKER</h1>
                </div>

                <ul>
                    <li><span>Автоматическая подача разряда</span> </li>
                    <li><span>Cпособен распознавать движение</span></li>
                </ul>
                <a href="#">
                    <div class="buttonInfo button">
                        <div class="subheaderProductText ">Подробнее</div>
                        <img src="{% static 'images/SubheaderProductArrow.svg' %}" alt="">
                    </div>
                </a>

            </div>
            <div class="subheaderImage">
                <img src="{% static 'images/index/DefibrillatorStriker.png' %}" alt="">
            </div>
        </div>

        <!-- subheader3 -->
        <div class="subheader" id="top">
            <!-- фон для товара -->
            <!-- <div class="product_bg"></div> -->
            <!-- фон для товара -->
            <div class="subheaderInfo">
                <div class="subheaderTitle">
                    <h3>COBAS 232</h3>
                    <h1>ЭКСПРЕСС-АНАЛИЗАТОР КАРДИОМАРКЕРОВ</h1>
                </div>

                <ul>
                    <li><span>Портативный, переносной прибор с удобным управлением</span> </li>
                    <li><span>Система cobas h 232 используется для количественной оценки иммунологических анализов</span></li>
                </ul>
                <a href="#">
                    <div class="buttonInfo button">
                        <div class="subheaderProductText ">Подробнее</div>
                        <img src="{% static 'images/SubheaderProductArrow.svg' %}" alt="">
                    </div>
                </a>

            </div>
            <div class="subheaderImage">
                <img src="{% static 'images/index/expressCardio.png' %}" alt="">
            </div>
        </div>
    </div>

</div>
<div id="catalog"></div>